In [130]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [131]:
df=df=pd.read_csv('/home/msois/Downloads/milk_production(2).csv')
df.head()

,Category,State/ UT Name,Cow Milk-2010-11,Cow Milk-2011-12,Cow Milk-2013-14,Cow Milk-2014-15,Cow Milk-2015-16,Boffalo Milk-2010-11,Boffalo Milk-2011-12,Boffalo Milk-2013-14,Boffalo Milk-2014-15,Boffalo Milk-2015-16,Goat Milk-2010-11,Goat Milk-2011-12,Goat Milk-2013-14,Goat Milk-2014-15,Goat Milk-2015-16
0,State,Andhra Pradesh,3102.0,3377.0,3799.0,3079,3369,8101.0,8710.0,9207.0,6574,7445,1.0,1.0,1.0,3,3
1,State,Arunachal Pradesh,28.0,22.0,43.0,46,50,NaN,NaN,0.0,0,0,NaN,NaN,NaN,0,0
2,State,Assam,666.0,658.0,677.0,685,703,101.0,117.0,122.0,120,117,23.0,22.0,15.0,24,24
3,State,Bihar,3561.0,3661.0,3986.0,4318,4881,2798.0,2805.0,3015.0,3248,3210,158.0,177.0,196.0,209,198
4,State,Chhattisgarh,644.0,701.0,788.0,824,919,343.0,368.0,374.0,359,311,43.0,49.0,46.0,49,48

In [132]:
df=df.fillna(0)

In [133]:
df['totalmilk']=df["Cow Milk-2013-14"] + df["Boffalo Milk-2013-14"] + df["Goat Milk-2013-14"]
df

,Category,State/ UT Name,Cow Milk-2010-11,Cow Milk-2011-12,Cow Milk-2013-14,Cow Milk-2014-15,Cow Milk-2015-16,Boffalo Milk-2010-11,Boffalo Milk-2011-12,Boffalo Milk-2013-14,Boffalo Milk-2014-15,Boffalo Milk-2015-16,Goat Milk-2010-11,Goat Milk-2011-12,Goat Milk-2013-14,Goat Milk-2014-15,Goat Milk-2015-16,totalmilk
0,State,Andhra Pradesh,3102.0,3377.0,3799.0,3079,3369,8101.0,8710.0,9207.0,6574,7445,1.0,1.0,1.0,3,3,13007.0
1,State,Arunachal Pradesh,28.0,22.0,43.0,46,50,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0,43.0
2,State,Assam,666.0,658.0,677.0,685,703,101.0,117.0,122.0,120,117,23.0,22.0,15.0,24,24,814.0
3,State,Bihar,3561.0,3661.0,3986.0,4318,4881,2798.0,2805.0,3015.0,3248,3210,158.0,177.0,196.0,209,198,7197.0
4,State,Chhattisgarh,644.0,701.0,788.0,824,919,343.0,368.0,374.0,359,311,43.0,49.0,46.0,49,48,1208.0
5,State,Goa,37.0,42.0,43.0,45,34,23.0,18.0,25.0,21,19,0.0,0.0,0.0,0,1,68.0
6,State,Gujarat,3572.0,3848.0,4673.0,4999,5461,5514.0,0.0,6180.0,6424,6512,236.0,241.0,259.0,267,289,11112.0
7,State,Haryana,966.0,998.0,1057.0,1194,1558,5239.0,5596.0,6308.0,6628,6772,63.0,67.0,77.0,80,51,7442.0
8,State,Himachal Pradesh,669.0,680.0,698.0,715,858,384.0,390.0,404.0,408,381,49.0,50.0,49.0,50,44,1151.0
9,State,Jammu & Kashmir,1205.0,1204.0,1233.0,1323,1752,311.0,317.0,287.0,546,453,94.0,93.0,95.0,82,68,1615.0
10,State,Jharkhand,842.0,1017.0,978.0,1088,1383,647.0,648.0,636.0,556,327,65.0,80.0,85.0,90,102,1699.0
11,State,Karnataka,3475.0,3715.0,4142.0,4330,4417,1583.0,1675.0,1795.0,1733,1849,56.0,58.0,60.0,58,78,5997.0
12,State,Kerala,2505.0,2582.0,2484.0,2534,2508,21.0,27.0,58.0,62,13,119.0,107.0,112.0,115,129,2654.0
13,State,Madhya Pradesh,3152.0,3589.0,4377.0,4982,5930,3935.0,4041.0,4679.0,5240,5610,427.0,519.0,543.0,557,609,9599.0
14,State,Maharashtra,4297.0,4605.0,5016.0,5268,6062,3473.0,3571.0,3822.0,4027,3832,273.0,293.0,250.0,247,258,9088.0
15,State,Manipur,64.0,67.0,68.0,68,65,14.0,12.0,14.0,14,14,0.0,0.0,0.0,0,0,82.0
16,State,Meghalaya,77.0,78.0,80.0,81,82,2.0,2.0,2.0,2,2,0.0,0.0,0.0,0,0,82.0
17,State,Mizoram,11.0,14.0,15.0,20,22,1.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0,15.0
18,State,Nagaland,71.0,74.0,75.0,71,70,4.0,4.0,4.0,4,5,1.0,1.0,1.0,1,1,80.0
19,State,Odisha,1438.0,1477.0,1586.0,1705,1673,229.0,241.0,272.0,194,252,3.0,3.0,3.0,4,5,1861.0
20,State,Punjab,3067.0,3074.0,3108.0,2973,2904,6301.0,6417.0,6845.0,7313,7814,55.0,59.0,58.0,65,57,10011.0
21,State,Rajasthan,5032.0,4972.0,5112.0,6126,6630,6611.0,6901.0,7681.0,8985,9937,1590.0,1641.0,1780.0,1823,1933,14573.0
22,State,Sikkim,43.0,45.0,46.0,50,67,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0,46.0
23,State,Tamil Nadu,6021.0,6189.0,6444.0,6652,6868,810.0,779.0,605.0,480,375,0.0,0.0,0.0,0,0,7049.0
24,State,Telangana,0.0,0.0,0.0,1181,1318,0.0,0.0,0.0,3022,3118,0.0,0.0,0.0,3,6,0.0
25,State,Tripura,100.0,106.0,119.0,130,139,2.0,2.0,2.0,2,2,3.0,3.0,9.0,10,12,130.0
26,State,Uttar Pradesh,5342.0,5837.0,6142.0,6387,8243,14496.0,15549.0,16805.0,17524,16865,1193.0,1171.0,1248.0,1288,1279,24195.0
27,State,Uttarakhand,615.0,638.0,723.0,810,856,769.0,779.0,827.0,756,751,0.0,0.0,0.0,0,49,1550.0
28,State,West Bengal,4109.0,4303.0,4519.0,4576,4669,222.0,223.0,235.0,233,240,140.0,146.0,152.0,151,130,4906.0
29,Union Territory,A & N Island,18.0,19.0,11.0,12,13,5.0,4.0,2.0,2,1,2.0,2.0,2.0,1,1,15.0
30,Union Territory,Chandigarh,14.0,14.0,13.0,13,13,32.0,31.0,31.0,31,30,0.0,0.0,0.0,0,0,44.0
31,Union Territory,Dadra & Nagar Haveli,9.0,9.0,9.0,7,0,2.0,2.0,2.0,1,0,0.0,0.0,0.0,0,0,11.0
32,Union Territory,Daman & Diu,1.0,1.0,0.0,0,0,1.0,1.0,0.0,0,0,0.0,0.0,0.0,0,0,0.0
33,Union Territory,Delhi,102.0,109.0,82.0,81,81,377.0,393.0,202.0,199,200,0.0,0.0,0.0,0,0,284.0
34,Union Territory,Lakshadweep,1.0,2.0,1.0,1,1,0.0,0.0,0.0,0,0,1.0,1.0,5.0,3,2,6.0
35,Union Territory,Puducherry,45.0,44.0,46.0,46,46,2.0,2.0,1.0,1,2,0.0,0.0,0.0,0,0,47.0

In [134]:
milk=df[['State/ UT Name','totalmilk']]
milk

          State/ UT Name  totalmilk
0         Andhra Pradesh    13007.0
1      Arunachal Pradesh       43.0
2                  Assam      814.0
3                  Bihar     7197.0
4           Chhattisgarh     1208.0
5                    Goa       68.0
6                Gujarat    11112.0
7                Haryana     7442.0
8       Himachal Pradesh     1151.0
9        Jammu & Kashmir     1615.0
10             Jharkhand     1699.0
11             Karnataka     5997.0
12                Kerala     2654.0
13        Madhya Pradesh     9599.0
14           Maharashtra     9088.0
15               Manipur       82.0
16             Meghalaya       82.0
17               Mizoram       15.0
18              Nagaland       80.0
19                Odisha     1861.0
20                Punjab    10011.0
21             Rajasthan    14573.0
22                Sikkim       46.0
23            Tamil Nadu     7049.0
24             Telangana        0.0
25               Tripura      130.0
26         Uttar Pradesh    24195.0
27           Uttarakhand     1550.0
28           West Bengal     4906.0
29          A & N Island       15.0
30            Chandigarh       44.0
31  Dadra & Nagar Haveli       11.0
32           Daman & Diu        0.0
33                 Delhi      284.0
34           Lakshadweep        6.0
35            Puducherry       47.0

In [135]:

milk[milk['totalmilk']==milk['totalmilk'].max()]['State/ UT Name']

26    Uttar Pradesh
Name: State/ UT Name, dtype: object

In [136]:
df["y2011"] =(df["Cow Milk-2010-11"] + df["Boffalo Milk-2010-11"] + df["Goat Milk-2010-11"]).sort_values(ascending=False)
df["y2012"]= df["Cow Milk-2011-12"] + df["Boffalo Milk-2010-11"] + df["Goat Milk-2010-11"]
df["y2014"]= df["Cow Milk-2013-14"] + df["Boffalo Milk-2010-11"] + df["Goat Milk-2010-11"]
df["y2015"]= df["Cow Milk-2014-15"] + df["Boffalo Milk-2010-11"] + df["Goat Milk-2010-11"]

max2011=df.sort_values('y2011',ascending=False)["State/ UT Name"].head()
max2011

26     Uttar Pradesh
21         Rajasthan
0     Andhra Pradesh
20            Punjab
6            Gujarat
Name: State/ UT Name, dtype: object

In [137]:
df["y2016"]= df["Cow Milk-2015-16"] + df["Boffalo Milk-2015-16"] + df["Goat Milk-2015-16"]
df[df["y2016"].ge(df["y2015"]) & df["y2015"].ge(df["y2014"])].head()

,Category,State/ UT Name,Cow Milk-2010-11,Cow Milk-2011-12,Cow Milk-2013-14,Cow Milk-2014-15,Cow Milk-2015-16,Boffalo Milk-2010-11,Boffalo Milk-2011-12,Boffalo Milk-2013-14,...,Goat Milk-2011-12,Goat Milk-2013-14,Goat Milk-2014-15,Goat Milk-2015-16,totalmilk,y2011,y2012,y2014,y2015,y2016
1,State,Arunachal Pradesh,28.0,22.0,43.0,46,50,0.0,0.0,0.0,...,0.0,0.0,0,0,43.0,28.0,22.0,43.0,46.0,50
2,State,Assam,666.0,658.0,677.0,685,703,101.0,117.0,122.0,...,22.0,15.0,24,24,814.0,790.0,782.0,801.0,809.0,844
3,State,Bihar,3561.0,3661.0,3986.0,4318,4881,2798.0,2805.0,3015.0,...,177.0,196.0,209,198,7197.0,6517.0,6617.0,6942.0,7274.0,8289
4,State,Chhattisgarh,644.0,701.0,788.0,824,919,343.0,368.0,374.0,...,49.0,46.0,49,48,1208.0,1030.0,1087.0,1174.0,1210.0,1278
6,State,Gujarat,3572.0,3848.0,4673.0,4999,5461,5514.0,0.0,6180.0,...,241.0,259.0,267,289,11112.0,9322.0,9598.0,10423.0,10749.0,12262

In [138]:
year=[2010,2011,2012,2013,2014,2015]
pop_totalmilk[]

SyntaxError: invalid syntax (<ipython-input-138-d9f7822b4a00>, line 2)

In [116]:
df=pd.read_csv("oil_reserves.csv")
df.head()

,Region,Country/ Region,2010,2011,2012,2013,2014,2015,2016
0,North America,US,34.990,39.775,44.180,48.463,54.962,47.987,47.987
1,North America,Canada,174.848,174.177,173.716,173.038,172.156,171.512,171.512
2,North America,Mexico,11.691,11.394,11.424,11.079,10.816,7.977,7.977
3,S. & Cent. America,Argentina,2.524,2.525,2.354,2.330,2.380,2.395,2.395
4,S. & Cent. America,Brazil,14.246,15.050,15.314,15.593,16.184,13.000,12.634

In [88]:
total=df["2014"]+df["2015"]+df["2016"]
print(total.max())
a=np.where(total==total.max())
new=df.iloc[a]
new["Country/ Region"]

901.809

9    Venezuela
Name: Country/ Region, dtype: object

In [96]:
df["totaloil"]=df["2014"]+df["2015"]+df["2016"]+df["2012"]+df["2013"]+df["2010"]+df["2011"]

In [97]:
df[df["totaloil"].max() and df["Region"]=="North America"]

,Region,Country/ Region,2010,2011,2012,2013,2014,2015,2016,oil_allyear,totaloil
0,North America,US,34.990,39.775,44.180,48.463,54.962,47.987,47.987,318.344,318.344
1,North America,Canada,174.848,174.177,173.716,173.038,172.156,171.512,171.512,1210.959,1210.959
2,North America,Mexico,11.691,11.394,11.424,11.079,10.816,7.977,7.977,72.358,72.358

In [98]:
print(df[df['Region']==df['totaloil'].max()])

Empty DataFrame
Columns: [Region, Country/ Region, 2010, 2011, 2012, 2013, 2014, 2015, 2016, oil_allyear, totaloil]
Index: []

In [99]:
print(df.sort_values('2015',ascending=False)["Country/ Region"].head())

9        Venezuela
27    Saudi Arabia
1           Canada
22            Iran
23            Iraq
Name: Country/ Region, dtype: object